@CHARSET "ISO-8859-1";

.header-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items:center; /*align center, vertically */
   padding-left: 50px;
   background: #3B5998;
   height: 50px;
   font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
   color: #fefefe;
}

.header-div a {
	color: #fefefe;
   text-decoration: none; /* changed from text-decoration:underline */
}

.header-div a:hover {
   text-decoration: underline;
}

.page-title {
   font-size: 30px;
   margin-left: 30px;
}

.body-div {
	display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   margin-top: 50px;
}

.sidebar-div {
	width: 250px;
	display: flex;
   flex-direction: column;
   #border-style: solid;
   #border-color: red;
   align-items:center; /*align center, vertically */
}

.posts-div {
	display: flex;
   flex-direction: column;
   #border-style: solid;
}

.post-div {
	background: #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 10px;
	width: 700px;
	margin-bottom: 20px;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

.post-button {
   border-width: 0;
   outline: none;
   border-radius: 2px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
   background-color: #3B5998;
   color: #ecf0f1;
   font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
   width: 75px;
   height: 25px;   	
}

.new-post-input {
    font-size: 16px;
    width: 100%;
    height: 50px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;	
}

.post-div hr {
	color: #ecf0f1;
}

.post-author {
	color: #3B5998;
	font-weight: bold;
}

.post-date {
   color: #B6B6B4;
   font-size: 12px;
}  

.ad-div
{
	display: flex;
	flex-direction: column;
	align-items:center; /*align center, vertically */
	justify-content: center; /*align center, horizontally */
	width: 225px;
	height: 225px;
	border-color: #B6B6B4;
	color: #B6B6B4;
	border-style: dotted;
	margin-top: 10px;
	margin-bottom: 5px;
}

.like-div {
	background: #ffffff;
	padding: 5px;
	margin-top: 5px;
	border-style: solid none none none;
	border-color: #e3e3e3;
	border-width: 1px;
	cursor: pointer;
	font-size: 14px;
}

.like-div a {
   color: #5f656e;
   text-decoration: none; /* changed from text-decoration:underline */
}

.like-div a:hover {
   text-decoration: underline;
}

.like-count-div {
	color: #3658b2;
	background: #f6f7f9;
	padding: 5px;
   margin-top: 5px;
   border-style: solid none none none;
   border-color: #e3e3e3;
   border-width: 1px;
   font-size: 14px;
}