@CHARSET "ISO-8859-1";

body {
   margin: 0px;
   font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
   background: #eee;
}

.header-div {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   
   height: 50px;
   
   background: #484fb0;
   
   padding-left: 50px;
   padding-right: 50px;
}

.page-title {
   font-size: 25px;
   color: #ffffff;
}

.nav-username {
   font-size: 14px;
   color: #ffffff;
}

.nav-link {
   font-size: 14px;
   color: #ffffff;
   text-decoration: none; /* changed from text-decoration:underline */
}

.nav-link:hover {
   text-decoration: underline;
}

.card-div {
   justify-content: flex-start;

   background: #ffffff;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   align-items: stretch;
   
   width: 80%;
   height: 625px;
   
   padding-bottom: 20px;
}

.card-header-div {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   
   background: #f2b955;
   font-size: 16px;
   color: #ffffff;
   
   padding-left: 20px;
   
   height: 50px;
}

.content-div {
   flex-grow: 1;
   padding-top: 20px;
   height:400px
}

.nav-div {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.nav-button {
   border-width: 0;
   outline: none;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
   background-color: #ebebeb;
   
   cursor: pointer;
   
   color: #000000;
   font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
   font-size: 25px;
   
   height: auto;
   width: 150px;

   padding: 20px 20px;
   
   margin-right: 20px;
   margin-left: 20px;
}

 .nav-button-highlight {
   background-color: #484fb0;
   color: #ffffff;
}

.nav-button-wide {
   width: 250px;
}

.demo-card-wide.mdl-card {
  width: 512px;
  margin: auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('./images/parts.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.login-form {
   margin-left: 50px;
   margin-bottom: 10px;
}

.action-button {
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 150px;
   height: 150px;

   color: #fff;
   font-size: 18px;
   text-shadow: -1px 1px #417cb8;

   margin: 10px;

   background-color: #6496c8;
   
}

.action-button:hover {
   background-color: #346392;
   text-shadow: -1px 1px #27496d;
}

.action-button:active {
   background-color: #27496d;
   text-shadow: -1px 1px #193047;
}

.action-button-icon {
   font-size: 80px;
}

/* 
Device = Most of the Smartphones Mobiles (Portrait)
Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 479px) {

	.action-button {
	   width: 100px;
	   height: 100px;
	   font-size: 14px;
	}
   
   .action-button-icon {
      font-size: 50px;
   }
   
   .demo-card-wide.mdl-card {
      width: 90%;
   }
}

/* 
Device = Tablets, Ipads (portrait)
Screen = B/w 768px to 1024px
*/
@media (min-width: 480px) and (max-width: 1024px) {
   
   .action-button {
      width: 100px;
      height: 100px;
      font-size: 14px;
   }
   
   .action-button-icon {
      font-size: 50px;
   }
}