@CHARSET "ISO-8859-1";

.pan-ticket-div {
   background: #7988c9;
   margin-bottom: 5px;
   height: 100px;
   width: 350px;
   flex-shrink: 0;
   
   color: #ffffff;
   padding: 5px 15px 5px 15px;
}

.pan-ticket-name {
   font-size: 30px;
}

.pan-ticket-count {
   font-size: 40px;
   color: #101057;
}

.pan-ticket-count-label {
   font-size: 18px;
   color: #101057;
}

.pan-ticket-weight {
   font-size: 40px;
   color: #101057;
}

.pan-ticket-weight-label {
   font-size: 18px;
   color: #101057;
}

.count-weight-divider {
   border-color: #101057;
   border-bottom-style: solid;
   margin-top: 15px;
   margin-bottom: 15px;
   align-self: stretch;
}

.pan-ticket-function-button {
   font-size: 30px;
   cursor: pointer;
}

.mismatch-indicator {
   vertical-align: super;
   font-size: 10px;
   color: red;
}