@CHARSET "ISO-8859-1";

body {
   margin: 0px;
   font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
   background: #eee;
}

.header-div {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   
   height: 50px;
   
   background: #484fb0;
   
   padding-left: 50px;
   padding-right: 50px;
}

.page-title {
   font-size: 25px;
   color: #ffffff;
}

.nav-username {
   font-size: 14px;
   color: #ffffff;
}

.nav-link {
   font-size: 14px;
   color: #ffffff;
   text-decoration: none; /* changed from text-decoration:underline */
}

.nav-link:hover {
   text-decoration: underline;
}

.card-div {
   justify-content: flex-start;
   align-items: stretch;

   background: #ffffff;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
   width: 80%;
   height: 625px;
   
   padding-bottom: 20px;
}

.card-header-div {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   
   background: #f2b955;
   font-size: 16px;
   color: #ffffff;
   
   padding-left: 20px;
   
   height: 50px;
}

.content-div {
   flex-grow: 1;
   padding-top: 20px;
   height:400px
}

.nav-div {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.nav-button {
   border-width: 0;
   outline: none;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
   background-color: #ebebeb;
   
   cursor: pointer;
   
   color: #000000;
   font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
   font-size: 25px;
   
   height: auto;
   width: 150px;

   padding: 20px 20px;
   
   margin-right: 20px;
   margin-left: 20px;
}

 .nav-button-highlight {
   background-color: #484fb0;
   color: #ffffff;
}

.nav-button-wide {
	width: 250px;
}

.table-function-button {
	cursor: pointer;
}

input:checked + label > div  {
   background-color: #27496d;
   text-shadow: -1px 1px #193047;
}

.button-icon {
   font-size: 50px;
}

.large-text-input {
   font-size: 40px;
}

.medium-text-input {
   font-size: 20px;
}

.adjust-time-button {
	margin-left:10px;
	margin-right:10px;
}

table {
   background: #ffffff;
   box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
   border-collapse:collapse;
}

tr {
   border: 1px solid #dddddd;
}

th, td {
   text-align: left;
   padding: 18px;
   font-size: 10pt;
}

tr:hover {
   background: #eeeeee;
   cursor: pointer;
}

.new-indicator {
   vertical-align: super;
   font-size: 10px;
   background-color: yellow;
   color: black;
}

.filter-component
{
	margin-right: 10px;
}

/* time card, pan ticket, job forms */
/* rename these !!!*/

.time-card-table-row {
   margin-bottom: 5px;
}

.time-card-table-col {
   flex-basis: 50%; 
   align-items: flex-start;
}

.time-card-div {
   width:700px;
   align-items: stretch;
}

.time-card-div h1 {
   font-weight:bold;
   font-size: 40px;
   margin: 0px 0px 0px 0px;
   display: flex;
}

.time-card-div h2 {
   font-weight:bold;
   font-size: 18px;
   margin: 0px 0px 0px 0px;
   display: flex;
}

.time-card-div h3 {
   font-weight:bold;
   font-size: 14px;
   margin: 0px 0px 0px 0px;
   display: flex;
}
   
.label-div {
   width: 100px;
}