@CHARSET "ISO-8859-1";

/* ***** CSS variables ***** */

:root {
   --header-height: 50px;
}

/* ***** Flexbox ***** */

.flex-horizontal {
   display: flex;
   flex-direction: row;
}

.flex-horizontal.stretch {
	width: 100%;
}

.flex-vertical {
   display: flex;
   flex-direction: column;
}

.flex-vertical.stretch {
   height: 100%;
}

.flex-horizontal.flex-h-center {
   justify-content: center;
}

.flex-horizontal.flex-v-center {
   align-items: center;
}

.flex-horizontal.flex-left {
   justify-content: flex-start;
}

.flex-horizontal.flex-right {
   justify-content: flex-end;
}

.flex-horizontal.flex-top {
   align-items: flex-start;
}

.flex-horizontal.flex-bottom {
   align-items: flex-end;
}

.flex-vertical.flex-h-center {
   align-items: center;
}

.flex-vertical.flex-v-center {
   justify-content: center;
}

.flex-vertical.flex-left {
   align-items: flex-start;
}

.flex-vertical.flex-right {
   align-items: flex-end;
}

.flex-vertical.flex-top {
   justify-content: flex-start;
}

.flex-vertical.flex-bottom {
   justify-content: flex-end;
}

.flex-stretch {
   align-items: stretch;
}

.flex-wrap {
	flex-wrap: wrap;
}

/* ***** Page ***** */

body {
   margin: 0px;
   font-family: var(--main-font);
}

form {
	display: none;
}

.main {
   height: 100%;
   width: 100%;
}

.content {
	width: 100%;
   padding-left:20px;
   padding-right:20px;
   padding-top:10px;
}

.heading {
   font-weight: bold;
   font-size: 25px;
   margin-top: 10px;
   margin-bottom: 10px;
}

/* ***** Header ***** */

.header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   left: 0;
   z-index: 99;
   
   width: 100%; /* TODO: This breaks horizontal stickiness. */
   height: var(--header-height);
   
   background: var(--main-color);
   color: var(--text-color-light);
}

.header a {
   text-decoration: none;	
   color: inherit;
}

.header .menu-icon {
   color: var(--text-color-light);
}

/* Keep in synch with menu-item properties. */
.menu-button {
   font-size: 18px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   padding-right: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   color: var(--text-color-light);
   cursor: pointer;
}

.menu-button.hidden {
   visibility: hidden
}

.page-title {
   font-size: 25px;
}

.description {
   display: none;
   width: 400px;
   background: #fbebce;
   padding: 10px 10px 10px 10px;
}

.description.shown {
   display: block;
}

.download-link {
	color: var(--main-color);
	text-decoration: underline;
	cursor: pointer;
}

/* ***** Menu ***** */

.menu {
   background: var(--background-color);
   display: flex;
   flex-direction: column;    
   position: -webkit-sticky; /* Safari */
   position: sticky;
   top: calc(var(--header-height) + 0px);
   left: 0;
   z-index: 99;
}

.menu-label {
   display: none;
   width: 200px;
}

/*
.menu:hover .menu-label, .menu.shown .menu-label {
   display: flex;
}
*/

.menu.shown .menu-label {
   display: flex;
}

.menu-item {
   text-decoration: none;
   font-size: 18px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   padding-right: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   color: var(--text-color);
   cursor: pointer;
}

.menu-item:hover, .menu-item:hover .menu-icon  {
   background: var(--gray-dark);
   color: var(--text-color-light);
}

.menu-item.selected, .menu-item.selected .menu-icon {
   background: var(--main-color);
   color: var(--text-color-light);
}

.menu-icon {
   font-size: 30px;
   color: var(--text-color-dark);
   text-decoration: none;
   margin-right: 30px;
}

/* ***** Form ***** */

.form-title {
   font-size: 30px;
   margin: 20px 0px 20px 0px;
   display: flex;
   flex-direction: column;
   align-items:center;         /* center vertically */
   justify-content: center;    /* center horizontally */
   height: 50px;
}

.form-row {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.form-col {
   display: flex;
   flex-direction: column;
}

.form-section-header {
   font-weight: bold;
   font-size: 18px;
   display: flex;
   flex-direction: row;
   margin-bottom: 10px;
}

.form-item {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 20px;
}

.form-label {
   font-size: 14px;
   margin: 0px 0px 0px 0px;
   display: flex;
   width: 100px;
}

.form-label-long {
   font-size: 14px;
   margin: 0px 0px 0px 0px;
   display: flex;
   width: 150px;
}

/* ***** Tabulator ***** */

.tabulator {
	width: 100%;
}

.table-header {
	font-size: 18px;
	font-weight: bold;
}

/* ***** Common components ***** */

.icon-button {
	cursor: pointer;
	color: var(--accent-color-dark);
	font-size: 25px;
}

button {
   border-width: 0;
   outline: none;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
   background-color: var(--button-color);
   
   cursor: pointer;
   
   color: var(--text-color-dark);
   font-family: var(--main-font);
   font-size: 18px;

   min-width: 100px;
   padding: 10px 10px 10px 10px;
}

.accent-button {
   background-color: var(--main-color);
   color: var(--text-color-light);
}

.small-button {
	font-size: 12px;
	min-width: 0;
	padding: 3px 5px 3px 5px;
}

.new-indicator {
   vertical-align: super;
   font-size: 10px;
   background-color: yellow;
   color: black;
}

.incomplete-indicator {
   vertical-align: super;
   font-size: 10px;
   color: orange;
}

.approved-indicator {
   vertical-align: super;
   font-size: 10px;
   color: green;
   white-space: nowrap;
}

.unapproved-indicator {
   vertical-align: super;
   font-size: 10px;
   color: red;
   white-space: nowrap;
}

.mismatch-indicator {
   vertical-align: super;
   font-size: 10px;
   color: red;
   white-space: nowrap;
}

.report-entry-valid {
	background: green;
	color: white;
	font-size: 12;
}

.report-entry-warning {
   background: orange;
   color: white;
   font-size: 12;
}

.report-entry-error {
   background: red;
   color: white;
   font-size: 12;
}

.date-range-header {
   color: var(--accent-color-dark);
   margin-bottom: 5px;
   font-size: 14px;
   font-weight: bold;
}

.bonus-earned {
   background: #98FB98;
}

input, select {
	font-family: var(--main-font);
	font-size: 14;
	height: 25px;
}