.keypad
{
	display: flex;
   flex-direction: row;
   color: #444;
}

.keypad-row
{
   display: flex;
   flex-direction: row;
   align-items: center;      /* center horizontally */
   justify-content: center;
}

.keypad-col
{
   display: flex;
   flex-direction: column;
   align-items: center;      /* center vertically */
   justify-content: center;
}

.keypad-key
{
   display: flex;
   flex-direction: row;
   align-items: center;      /* center horizotally */
   justify-content: center;
   
   margin: 0px 0px 0px 0px;
   
   width: 100px;
   height: 100px;
   
   background-color: #777;
	
   font-family: 'Roboto', sans-serif;
   color:       #fff;
   font-size:   30px;
   font-weight: bold;
   border-style: solid;
   border-color: #555;
}

.keypad-key-wide
{
   width: 205px;
   height: 100px;
}

.keypad-key-tall
{
   width: 100px;
   height: 205px;
}

.disabled
{
	color: #777;
}