@CHARSET "ISO-8859-1";

.launch-button {
   border-width: 0;
   outline: none;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
   background-color: #ebebeb;
   
   cursor: pointer;
   
   color: #000000;
   font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
   font-size: 18px;
   
   height: auto;
   width: 100px;

   padding: 5px 5px;
   
   margin-right: 10px;
   margin-left: 10px;
}